body{
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
 .heading{
	font-size:36px;
	text-align:center;
	color:#000000;
	background-color:#92bde7}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}
.bgcolor2{
	background-color:#c9e6ff;
	width:auto
	}
input[type=text], select {
  width: 40%;
  padding: 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px inset thin;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 13px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor:;
  font-size:16px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
